{
    "locales": {
        "LANG": "",
        "TIMEZONE": ""
    },
    "discord": {
        "ACTIVITY": "",
        "CLIENT_ID": "",
        "CHANNEL_ID": "",
        "DISCORD_TOKEN": ""
    },
    "groq": {
        "DEFAULT_MODEL": "",
        "GROQ_API_KEY": "",
        "GROQ_API_KEY_BACKUP": "",
        "HELLO_MESSAGE": "",
        "SYSTEM_PROMPT": ""
    }
}